{% extends "base.html" %}
{% block content %}
       
      <div class = 'container'>
            
            <form action="" method="post" novalidate>

              {{ form.hidden_tag() }}
                <p>
                    {{ form.country_field.label }}<br>
                    {{ form.country_field }}<br>
                </p>
                <p>
                    {{ form.text.label }}<br>
                    {{ form.text }}<br>
                </p>
                <p>
                       
                   <div >
                        {{form.date_start.label}}
                        {{ form.date_start (class='datepicker') }}<br>
                    </div>
                    <div class="datepicker">
                     {{form.date_end.label}}
                     {{ form.date_end }}<br>
                     </div>
                </p>
             
                
              <p>{{ form.submit() }}</p>
            </form>
           
        </div>
        
           
        </form>
      </div>
   
{% endblock %}