{% extends "base.html" %}
{% block content %}
       
<div class="row">
    <div class="col-md-4">          
        <form action="" method="POST" novalidate>

            {{ form.hidden_tag() }}
             
                      <div class='form-group'>
                            Страна: {{ country_name }}<br>
                      </div>
                      <div class='form-group'>
                          {{ form.text.label }}
                          {{ form.text }}
                      </div>
                      <div class='form-group'>
                         {{form.date_start.label}}
                         
                          {{ form.date_start  }}
                      </div>
                     
                      <div class='form-group'> 
                          {{form.date_end.lable}}
                          
                          {{ form.date_end}}
                      </div>
                     
                      
             
            <p>{{ form.submit() }}</p>
        </form>
      </div>
    </div>
          
           
  {% endblock %}