<!doctype html>
<html lang="ru">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
    $( ".datepicker" ).datepicker({dateFormat: 'dd/mm/yy'});
    } );
    </script>
  <head>
    
    <title>{{page_title}}</title>
  </head>
  <body>
      <div class = 'container'>
            <h1>
                План затрат на путешествие {{ country_name }}
            </h1>
            
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.country_field.label }}<br>
                    {{ form.country_field }}<br>
                </p>
                <p>
                       
                   <div >
                        
                        {{ form.date_start (class='datepicker') }}<br>
                    </div>
                        {{ form.date_end (class='datepicker')}}<br>
                </p>
             
                
              <p>{{ form.submit() }}</p>
             
            </form>
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Статья затрат</th>
                    <th scope="col">План</th>
                    <th scope="col">Факт</th>
                  </tr>
                </thead>
                <tbody>
                    
                    <tbody>
                        {% for expenditure in expenditures %}
                           <tr>
                              <td>{{ expenditure.text }}</td>
                              <td>{{ expenditure.sum_plan }}</td>
                              <td>{{ expenditure.sum_real }}</td>
                             
                           </tr>
                        {% endfor %}
                     </tbody>
                   
                </tbody>
              </table>
        </div>
        
           
        </form>
   
  </body>
</html>