<!doctype html>
<html lang="ru">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
    $( ".datepicker" ).datepicker({dateFormat: 'dd/mm/yy'});
    } );
    </script>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>{{page_title}}</title>
  </head>
   
  
  <body>
      
      <div class = 'container'>
            <h3><a href="{{ url_for('expenditure.add_expenditure',travel_plan_id=travel_plan_id) }}"> 
                Добавить статьи затрат
                </a>
            </h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Статья затрат</th>
                    <th scope="col">План</th>
                    <th scope="col">Факт</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    
                    <tbody>
                        {% for expenditure in expenditures %}
                           <tr>
                              
                              <td><a href="{{ url_for('expenditure.edit_expenditure',expenditure_id=expenditure.id) }}"> 
                                {{ expenditure.text }}</a></td>
                              <td>{{ expenditure.sum_plan }}</td>
                              <td>{{ expenditure.sum_real }}</td>
                              <td><a href="{{ url_for('expenditure.edit_expenditure',expenditure_id=expenditure.id) }}"> 
                                  Удалить</a></td>
                           </tr>
                        {% endfor %}
                     </tbody>
                    
                   
                </tbody>
              </table>
        </div>
        
           
        </form>
   
  </body>
</html>