{% extends "base.html" %}
{% block content %}
      <div class = 'container'>
            <h2>
               {{page_title}}
            </h2>
           
            <div class = 'row'>
                
                <div class="col-4">
                   
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                       
                       <p>
                           Рубли:
                           {{form.rate}}
                       </p>
                       <p>
                        <p> 
                                {{ form.currency_convert.label }}<br>
                                {{ form.currency_convert }}<br>
                        </p>
                         

                        <p>

                            {{ form.currency.label }}<br>
                            {{ form.currency }}<br>
                        </p>
                           
                        <p>{{ form.submit() }}</p>
                    </form>
                    <div class="p-3 mb-2 bg-light text-dark">
                    <span class="border border-dark">{{converter}}</span>
                    </div>
                </div>
                
            </div>
        </div>
        
{% endblock %}