{% extends "base.html" %}
{% block content %}
      <div class = 'container'>
            <h1>
                Органайзер путешественника
            </h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class = 'row'>
                
                <div class="col-4">
                    Курс {{name}} : {{rate}} рублей 
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.currency.label }}<br>
                            {{ form.currency(size=32) }}<br>
                        </p>
                       
                        <p>{{ form.submit() }}</p>
                    </form>
                </div>

            </div>
        </div>
        
{% endblock %}