<!doctype html>
<html lang="ru">
  <head>
    
    <title>{{page_title}}</title>
  </head>
  <body>
      <div class = 'container'>
            <h1>
                План затрат на путешествие {{ country_name }}
            </h1>
            <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}
              <p>
                  {{ form.country_field.label }}<br>
                  {{ form.country_field }}<br>
              </p>
             
             
              <p>{{ form.submit() }}</p>
            </form>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Статья затрат</th>
                    <th scope="col">План</th>
                    <th scope="col">Факт</th>
                  </tr>
                </thead>
                <tbody>
                  
                  
                    <tbody>
                        {% for expenditure in expenditures %}
                           <tr>
                              <td>{{ expenditure.text }}</td>
                              <td>{{ expenditure.sum_plan }}</td>
                              <td>{{ expenditure.sum_real }}</td>
                             
                           </tr>
                        {% endfor %}
                     </tbody>
                  
                </tbody>
              </table>
        </div>
        
           
        </form>
   
  </body>
</html>